<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zig_Zag.Properties.Settings.d25535935ConnectionString"
            connectionString="server=196.253.61.51;user id=root;password=inteltechs;database=d25535935"
            providerName="MySql.Data.MySqlClient" />
        <add name="Zig_Zag.Properties.Settings.d25535935ConnectionString1"
            connectionString="server=196.253.61.51;user id=root;database=d25535935;password=inteltechs"
            providerName="MySql.Data.MySqlClient" />
        <add name="Zig_Zag.Properties.Settings.d25535935ConnectionString2"
            connectionString="server=196.253.61.51;user id=root;password=inteltechs;persistsecurityinfo=True;database=d25535935"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>